body,
html {
    width: 100%;
    height: 100%;
}
body{
    background-color:#FFFF99;
}

body{
    padding-top:100px;
}
#content{
    min-height: 600px;
}
.table{
    width: 100%;
}
.foot{
    padding: 10px 0;
    background-color:darkred;
    color:yellow;
    bottom: 0;
    width: 100%;}
    #banner-image{
        padding-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
        background: url(class.jpg) no-repeat center;
        background-size: cover;
    }
    #banner-content{
        position: relative;
        padding-top: 6%;
        padding-bottom: 6%;
        margin-top: 12%;
        margin-left:18%;
        margin-bottom: 12%;
        background-color: rgba(0, 0, 0,0.7);
        max-width: 660px;
    }
    #gut{
        background-color: darkcyan;
    }
    
    #utt{
        color: white;
    }
    
    .bole{
        font-weight: bold;
        color: darkmagenta;
    }
    .lill{
        font-style: italic;
        color:green;
    }
    .ant{
        padding-top:10%;
        font-weight: bold;
    
    }